<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
  <div class="image-overlay position-relative">
    <div class="team-item rounded overflow-hidden">
      <div class="d-flex product-card">
        <div class="product-image">
          <img src="{{ .Params.image | default "/img/people/profile.png" }}" alt="{{ .Title }}" class="img-fluid"
               onerror="this.src='/img/people/profile.png'">
        </div>
        <div class="text-box box-slide position-absolute">
          <div class="text-content p-3 bg-white" style="font-size: small;">
            <h5 style="display:inline;" class="text-team">{{ .Title }}</h5>
            <b>&nbsp; <span class="small-text">{{ .Params.position }}</span></b></p>
            <p><b>Email</b> <span class="small-text">{{ .Params.email }}</span><br/></p>
            {{ with .Params.researchInterests }}
            <p><b>Research Interests</b><br/>
              <span class="small-text">{{ delimit . ", " }}</span>
            </p>
            {{ end }}
            {{ with .Params.education }}
            <p><b>Education</b><br/>
              <span class="small-text">{{ range . }}{{ . | safeHTML }}<br/>{{ end }}</span>
            </p>
            {{ end }}
            {{ with .Params.current }}
            <p><b>Current</b> <span class="small-text">{{ . }}</span></p>
            {{ end }}
            <div class="team-social d-flex justify-content-end gap-1">
              {{ with .Params.github }}
              <a class="btn btn-square btn-outline-primary rounded-circle" href="{{ . }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
              {{ end }}
              {{ with .Params.linkedin }}
              <a class="btn btn-square btn-outline-primary rounded-circle" href="{{ . }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
              {{ end }}
              {{ with .Params.orcid }}
              <a class="btn btn-square btn-outline-primary rounded-circle" href="{{ . }}" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="1em" height="1em" style="vertical-align:-0.125em"><path d="M256 128c0 70.7-57.3 128-128 128S0 198.7 0 128 57.3 0 128 0s128 57.3 128 128z" fill="currentColor"/><path d="M86.3 186.2H70.9V79.1h15.4v107.1zM108.9 79.1h41.6c39.6 0 57 28.3 57 53.6 0 27.5-21.5 53.6-56.8 53.6h-41.8V79.1zm15.4 93.3h24.5c34.9 0 42.9-26.5 42.9-39.7C191.7 111.2 178 93 148 93h-23.7v79.4zM88.7 56.8c0 5.5-4.5 10.1-10.1 10.1s-10.1-4.6-10.1-10.1c0-5.6 4.5-10.1 10.1-10.1s10.1 4.5 10.1 10.1z" fill="#fff"/></svg></a>
              {{ end }}
              {{ with .Params.cv }}
              <a class="btn btn-square btn-outline-primary rounded-circle" href="{{ . }}" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 16" width="1.4em" height="0.875em" style="vertical-align:-0.125em"><text x="16" y="13" text-anchor="middle" font-family="Arial,sans-serif" font-size="16" font-weight="900" fill="currentColor">CV</text></svg></a>
              {{ end }}
              {{ with .Params.homepage }}
              <a class="btn btn-square btn-outline-primary rounded-circle" href="{{ . }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-home"></i></a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="p-4"></div>
      <div class="p-1"></div>
    </div>
  </div>
</div>
