<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
  <a href="/" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
    <img src="/img/logo.png" class="logo" aria-hidden="true" />
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
        <div class="dropdown-menu bg-light m-0">
          <a href="/about/" class="dropdown-item">Overview</a>
          <a href="/about/nvc/" class="dropdown-item">NVC</a>
          <a href="/about/vcm/" class="dropdown-item">VCM</a>
          <a href="/about/3dv/" class="dropdown-item">3DV</a>
        </div>
      </div>
      <a href="/about/" class="nav-item nav-link">About</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">People</a>
        <div class="dropdown-menu bg-light m-0">
          <a href="/members/professor/" class="dropdown-item">Professor</a>
          <a href="/members/students/" class="dropdown-item">Students</a>
          <a href="/members/alumni/" class="dropdown-item">Alumni</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Publications</a>
        <div class="dropdown-menu bg-light m-0">
          <a href="/publications/papers/" class="dropdown-item">Papers</a>
          <a href="/publications/contributions/" class="dropdown-item">Standard Contributions</a>
        </div>
      </div>
      <a href="/grants/" class="nav-item nav-link">Grant</a>
      <a href="/news/" class="nav-item nav-link">News</a>
      <a href="/gallery/" class="nav-item nav-link">Gallery</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
