{{ define "main" }}

  <style>
    #about-us .accordion-body a,
    #about-us .detail a {
      color: #000 !important;
      font-weight: bold !important;
      text-decoration: underline !important;
    }
    #about-us .accordion-body a:hover,
    #about-us .detail a:hover {
      color: #333 !important;
    }
  </style>

  <!-- Page Header Start -->
  <div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Professor</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
          <li class="breadcrumb-item"><a class="text-white" href="/members/">People</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Professor</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <section id="about-us">
    <div class="container-xxl py-5">
      <div class="container">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
          <div class="row align-items-center justify-content-between px-lg-5">
            <div class="col-lg-4 p-lg-6">
              <div class="professor-item rounded overflow-hidden">
                <div class="d-flex">
                  <img class="img-fluid jarallax-img" src="{{ .Params.image }}" aria-hidden="true" />
                </div>
                <div class="p-3">
                  <h5>{{ .Params.korName }}{{ with .Params.hanjaName }} ({{ . }}, {{ end }}{{ .Title }}{{ with .Params.hanjaName }}){{ end }}</h5>
                  <span>{{ .Params.position }}<br />
                    {{ .Params.email }}<br />
                    Tel. {{ .Params.phone }}<br />
                    Rm. {{ .Params.room }}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="detail p-5">
                <div class="display-header">
                  <h6 class="display-4 text-dark pb-2">About</h6>
                  {{ .Content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Information Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
          <div class="accordion" id="accordionPanelsStayOpenExample">

            {{ $sections := slice
              (dict "id" "content-1"    "title" "Lectures (담당 교과)"                              "content" .Params.lectures)
              (dict "id" "content-2"    "title" "Education (학력)"                                   "content" .Params.education)
              (dict "id" "content-3"  "title" "Work Experience (경력)"                             "content" .Params.experience)
              (dict "id" "content-4"   "title" "Community Service (대외 활동)"                       "content" .Params.service)
              (dict "id" "content-5"   "title" "Awards (수상)"                                      "content" .Params.awards)
              (dict "id" "content-6"    "title" "On the Media [언론 기사 링크]"                        "content" .Params.media_links)
              (dict "id" "content-7"  "title" "Standard Essential Patents & Technology Transfer (표준필수특허, 기술이전)" "content" .Params.patents_std)
              (dict "id" "content-8"  "title" "International Patents (국제특허)"                    "content" .Params.patents_intl)
              (dict "id" "content-9"   "title" "Domestic Patents (국내특허)"                         "content" .Params.patents_domestic)
            }}

            {{ range $sections }}
            {{ if .content }}
            <div class="accordion-item mt-3">
              <h5 class="accordion-header border-0" id="panelsStayOpen-heading{{ .id }}">
                <button class="accordion-button text-primary fs-5" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapse{{ .id }}" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapse{{ .id }}">
                  {{ .title }}
                </button>
              </h5>
              <div id="panelsStayOpen-collapse{{ .id }}" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  {{ .content | markdownify }}
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}

          </div>
        </div>
      </div>
    </div>
    <!-- Information End -->
  </section>

{{ end }}
