{{ define "main" }}

  <!-- Page Header Start -->
  <div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Alumni</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Alumni</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width:600px">
        <h6 class="text-primary">Alumni</h6>
        <h1 class="mb-4">졸업생</h1>
      </div>
      <div class="table-responsive wow fadeInUp" data-wow-delay="0.1s">
        <table class="table table-hover align-middle">
          <thead class="table-primary">
            <tr>
              <th>이름</th>
              <th>영문 이름</th>
              <th>학위</th>
              <th>현재</th>
            </tr>
          </thead>
          <tbody>
            {{ range (.Pages.ByParam "weight") }}
            <tr>
              <td>{{ .Title }}</td>
              <td>{{ .Params.engName }}</td>
              <td>{{ .Params.degree }}</td>
              <td>{{ .Params.current | default "-" }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{{ end }}
